@model List<Film>

@{
    ViewData["Title"] = "Home Page";
}

<div class="hero-section d-flex align-items-end">
    <div class="media-title">
        <div class="film-type d-flex flex-row align-items-center gap-3">
            <h2 class="split-text">A</h2>
            <h4 id="logo-film-style"style="color:darkgray">Aris Series</h4>
        </div>
        <h1 class="film-name" id="film-name" style="font-family:roboto;font-weight:bolder;font-size:50px"></h1>
        <div class="ranking-infor">
            <div class="film-ranking" style="color:black">
                <div class="rank" style="font-size:12px;font-weight:bolder">Top</div>
                <div class="rank-number" style="font-weight:bolder">1</div>
            </div>
            <h4>#1 Tv Shows Today</h4>
        </div>
        <div class="film-content" id="film-content" style="font-family:roboto;font-weight:bold"></div>
        <div class="button-group d-flex flex-row align-items-center gap-2">
            <a id="play-button" class="btn btn-play">
                <i class="bi bi-play-fill"></i>
                <h5 style="font-family:roboto;font-weight:800">Watch</h5>
            </a>
            <div class="button-group-2">
                <button class="btn-love">
                    <i class="bi bi-suit-heart-fill"></i>
                </button>
                <button class="btn-infor">
                    <i class="bi bi-info-circle-fill"></i>
                </button>
            </div>
        </div>
    </div>
</div>


<script>
    const films = @Html.Raw(Json.Serialize(Model));
    console.log(films);
    let index = films.length-1;

    function showFilm(i) {
        if (!films[i]) return;
        document.getElementById('film-name').textContent = films[i].name;

        let content = films[i].content || '';
        content = content.replace(/["']/g, '').trim();
        const maxLength = 400;
        if (content.length > maxLength) {
            content = content.substring(0, maxLength).trim() + '...';
        }
        document.getElementById('film-content').textContent = content;

        document.getElementById('play-button').href = '@Url.Action("Index", "Film")?id=' + encodeURIComponent(films[i].id);
        const logo = document.getElementById('logo-film-style');
        if (films[i].type && films[i].type.toLowerCase() === "movie") {
            logo.textContent = "Aris Movies";
        } else if (films[i].type && films[i].type.toLowerCase() === "series") {
            logo.textContent = "Aris Series";
        } else {
            logo.textContent = "Aris Cartoon";
        }
    }

    showFilm(index);

    setInterval(() => {
        index = (index - 1) % films.length;
        showFilm(index);
    }, 600000); 
</script>
